.crumbs {
  width: 100%;
  padding: var(--crumbs-top-padding) var(--standart-side-padding);
  z-index: var(--index-crumbs);
}

.crumbs__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 5px;
  list-style: none;
}

.crumbs__item {
  position: relative;
  padding-right: var(--crumbs-font-size);

  &:not(:last-child):after {
    position: absolute;
    height: min-content;
    top: 0px;
    right: 0;
    color:var(--crumbs-arrow-color);
    font-size: var(--crumbs-font-size);
    font-weight: var(--crumbs-font-weight);
    content: '>';
  }

  //show dropdown menu only desctope devices.
  @media (min-width: @tablet-width) {
    &:hover .crumbs__dropdown,
    &:focus-within .crumbs__dropdown {
      opacity: 1;
      pointer-events: all;
      transition: all ease .3s;

      transform: translateX(0px);
    }
  }
}

.crumbs__crumb {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: var(--crumbs-hover-animation);
  text-decoration: none;

  &--dropdown-arrow {
    padding-right: 12px;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: 40%;
      right: 0;
      border-top: 8px solid var(--sub-text-color);
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
    }

    //when mobile device - hidden this element, because on touch screent we not have a hover events.
    @media (max-width: @tablet-width) {
      padding-right: 0;
      &:after {
        display: none;
      }
    }
  }
}

.crumbs__dropdown {
  position: absolute;
  min-width: 120px;

  opacity: 0;
  pointer-events: none;

  transform: translateX(-40px);
  transition: all ease .2s;

  padding: var(--crumbs-top-padding);
  list-style: none;
  background-color: var(--back-color);
  box-shadow: var(--dropdown-crumbs-shadow);
  z-index: 1;
  border-radius: 8px;

  box-shadow: .6rem 0.3rem 0.3rem 0.1rem #c8d0e7,
  -0.3rem -0.3rem 0.9rem #fff;
}

.crumbs__droped-link {
  padding: 4px;
  text-decoration: none;
  display: flex;
  justify-content: start;
  transition: var(--crumbs-hover-animation);
}

.crumbs__text {
  font-family: var(--basic-font);
  font-size: var(--crumbs-font-size);
  font-weight: var(--crumbs-font-weight);
  color: var(--sub-text-color);
  user-select: none;
  white-space: nowrap;

  &--active {
    color: var(--standart-text-color);
    cursor: default;
  }

  &:not(.crumbs__text--active):hover,
  &:not(.crumbs__text--active):focus {
    color: var(--main-color);
    transition: var(--crumbs-hover-animation);
  }
}
