.info {
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;

  background-color: var(--data-list-color);
  background-color: var(--back-color);
}

.info__about {
  width: 100%;
  padding: 0 var(--standart-side-padding);
}

.info__about-title {
  font-size: 18px;
  font-weight: 500;

  font-family: var(--basic-font);
  color: var(--standart-text-color);
}

.info__list {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  grid-gap: 20px;
  // border-radius: 15px;
  padding: var(--standart-side-padding) var(--info-padding);
  list-style: none;
  overflow-X: auto;
  background-color: var(--data-list-color);

  @media (min-width: @desctope-width) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: @tablet-width) {
    grid-template-columns: 1fr;
  }
}

.info__item {
  height: 100%;
  border-radius: 10px;
  padding: 20px 0 30px 0;
  min-width: min-content;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;

  box-shadow: var(--shadow);

  &:nth-child(6n - 6) {
    background-color: var(--inner-data-n1-color);
  }
  &:nth-child(6n - 5) {
    background-color: var(--inner-data-n2-color);
  }
  &:nth-child(6n - 4) {
    background-color: var(--inner-data-n3-color);
  }
  &:nth-child(6n - 3) {
    background-color: var(--inner-data-n4-color);
  }
  &:nth-child(6n - 2) {
    background-color: var(--inner-data-n5-color);
  }
  &:nth-child(6n - 1) {
    background-color: var(--inner-data-n6-color);
  }
}

.info__inner-list {
  list-style: none;
}

.info__inner-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--info-font-size);
  align-items: center;
  padding: calc(var(--info-padding) / 2) var(--info-padding);
  border-bottom: 1px solid var(--inner-data-text-color);

  @media (max-width: @mobile-width) {
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
  }
}

.info__text {
  font-family: var(--basic-font);
  font-size: var(--info-font-size);
  font-weight: var(--info-wont-weight);
  color: var(--inner-data-text-color);

  @media (max-width: @mobile-width) {
    font-size: var(--info-mobile-font-size);
  }
}

.info__inner-title {
  text-align: center;
}

.info__inner-name {
  font-weight: calc(var(--info-wont-weight));
  text-align: left;
}

.info__inner-desc {
  text-align: center;
  font-weight: calc(var(--info-wont-weight) + 100);
  font-size: calc(var(--info-font-size) + 1px);

  @media (max-width: @mobile-width) {
    text-align: left;
  }
}
