.table {
  width: 100%;
  min-width: 100%;
  border-spacing: 0;
  text-align: center;
  margin: 0;
  padding: 0;

  table-layout: fixed;
  border-collapse: collapse;

  color: var(--standart-text-color);
  box-shadow: var(--main-table-shadow);
}

.table thead{
  box-shadow: var(--main-table-head-shadow);
}

.table th{
  padding: 7px;
  width: 120px;
}

.table > tbody {
  overflow: hidden;
}

.table > tbody > tr > td {
  padding: 10px;
  font-size: 14px;
  position: relative;
  cursor: pointer;

  & > a {
    text-decoration: none;
    color: var(--standart-text-color);
    padding: 10px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
  }
}

.table > tbody > tr > td:hover > a,
.table > tbody > tr > td:focus > a{
  color: var(--main-color);
}

.table > tbody > tr:hover {
  padding: 20px;
  box-shadow: var(--main-table-shadow);
}

// .table tr td:first-child::before {
//   content: "";
//   position: absolute;
//   padding: 7px;
//   top: 0;

//   // left: 0;
//   // width: 100%;
//   left: -5000px;
//   width: 10000px;

//   height: 100%;
//   z-index: -10;
// }

.table td:hover::after {
  content: "";
  position: absolute;
  box-shadow: var(--main-table-shadow);
  left: 0;

  top: 0;
  height: 100%;
  border-radius: 8px;
  // top: -5000px;
  // height: 10000px;

  width: 100%;
  z-index: -1;
}
