.edit-field {
  position: relative;

  &::before {
    content: '';
    // z-index: 1;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: var(--edit-field-icon-size);
    height: var(--edit-field-icon-size);
    background-image: url('../img/icons/edit-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
  }

  &--required {
    & .edit-field__input {
      border: 1px solid red;
    }

    & .edit-field__error {
      display: block;
    }
  }
}

.edit-field__error {
  z-index: 1;
  display: none;
  position: absolute;
  bottom: -35px;
  left: 20px;
  padding: 5px 10px;

  box-shadow: var(--shadow);
  border-radius: 10px;
  background-color: #e74c3c;
  color: #fff;

  &:before {
    content: "";
    border: solid transparent;
    position: absolute;
    left: 8px;
    bottom: 100%;
    border-bottom-color: #e74c3c;
    border-width: 9px;
    margin-left: 0;
}
}

.edit-field__input {
  width: 100%;
  position: relative;
  padding: var(--edit-field-input-padding);

  color: var(--edit-field-font-color);
  font-size: var(--edit-field-font-size);
  font-weight: var(--edit-field-font-weight);

  &:hover,
  &:focus {
    color: var(--standart-black);
  }
}
