@keyframes easy-show-animation {
  0% { opacity: 0; }
  80%  { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes hide-mobile-btn {
  0% { opacity: 1; }
  10%  { opacity: 0; }
  80% { opacity: 0; }
  90% { opacity: 0.8; }
  100% { opacity: 1; }
}

@keyframes load {
	0% {
		left: 0;
		height: calc(var(--preloader-animation-element-size) * 2);
		width: var(--preloader-animation-element-size);
	}
	50% {
		height: calc(var(--preloader-animation-element-size) / 2.1);
		width: calc(var(--preloader-animation-element-size) * 3);
	}
	100% {
		left: calc(var(--preloader-width) - var(--preloader-animation-element-size));
		height: calc(var(--preloader-animation-element-size) * 2);
		width: var(--preloader-animation-element-size);
	}
}

@keyframes blowUpContent {
  0% {
    transform:scale(1);
    opacity:1;
  }
  100% {
    transform:scale(.8);
    opacity:0;
  }
}

@keyframes blowDownContent {
  0% {
    transform:scale(.8);
    opacity:0;
  }
  100% {
    transform:scale(1);
    opacity:1;
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}
