* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: @basic-font;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.container {
  max-width: @desctope-width;
  margin: 0 auto;
}

.body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  // max-height: 100vh;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "nav header"
    "nav main"
    "nav footer"
  ;
  background-color: var(--back-color);

  &--no-footer {
    grid-template-rows: min-content 1fr;
  }

  &--scrolloff {
    overflow: hidden;
  }
}
