@standart-black: #000000;
@standart-white: #ffffff;

//width
@desctope-width: 1200px;
@tablet-width: 900px;
@mobile-width: 600px;

//header
@search-width: 400px;
@mobile-search-width: 60%;
@header-top-padding: 10px;

//footer
@footer-top-padding: 10px;
@footer-font-size: 13px;

//contacts list
@contacts-list-icon-size: 40px;

//crumbs
@crumbs-top-padding: 10px;
@crumbs-font-size: 14px;
@crumbs-font-wieght: 400;

//navigation parametrs
@header-menu-btn-size: 50px;
@basic-nav-width: 300px;
@mobile-nav-width: 350px;
@nav-elem-padding: 10px;

//Standart parametrs
@standart-side-padding: 20px;

//OTHER
@standart-hover-animation: all .1s linear;
