:root {
  --basic-font: 'Jost', 'Arial', sans-serif;

  --standart-side-padding: 20px;

  //index context
  --index-menu-btn: 4;

  //header
  --header-top-padding: 10px;
  --exit-button-size: 40px;
  --header-elements-gap: 10px;
  --header-menu-btn-size: 50px;
    //header text
    --header-text-size: 18px;
    --headet-text-weight: 500;
    --header-subtext-size: 16px;
    --header-subtext-weight: 300;
    //header search
    --header-search-width: 400px;
    --header-search-border-radius: 15px;
    --header-serch-icon-size: 40px;
    --header-search-input-padding: 10px;

  //footer
  --footer-top-padding: 10px;
  --footer-font-size: 13px;
  --footer-font-weigth: 300;

}

