.footer {
  padding: @footer-top-padding @standart-side-padding;
  grid-area: footer;
  align-self: start;
}

.footer__wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  &--contacts {
    justify-content: space-between;

    & > .footer__suport {
      align-items: flex-end;
    }

    @media (max-width: @tablet-width) {
      flex-direction: column;
      gap: 10px;

      & > .footer__suport {
        align-items: center;
      }
    }
  }
}

.footer__suport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: @basic-font;
  font-weight: @footer-font-weight;
  font-size: @footer-font-size;
  color: var(--sub-text-color);
}

.footer__sup-link {
  color: var(--sub-text-color);

  &:hover,
  &:focus {
    color: var(--main-color);
  }
}

