.header {
  padding: var(--header-top-padding) var(--standart-side-padding);
  grid-area: header; // grid area set in global-styles!

  &--open-menu { // this class used JS! For show and close mobile menu.
    @media (max-width: @tablet-width) {
      & .header__menu-btn {
        position: absolute;
        top: var(--header-top-padding);
        left: var(--standart-mobile-side-padding);
        transition: all 1s ease-in-out;
        animation-duration: 1s;
        animation-name: show-mobile-btn;
      }
    }
  }
}

.header__wrap {
  width: 100%;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: min-content 1fr min-content min-content;
  grid-template-areas:
    "btn hello controls controls"
    "search search search search"
  ;
  grid-gap: var(--header-elements-gap);
  align-items: center;

  @media (max-width: @tablet-width) {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr min-content;
    grid-template-areas:
      "btn controls"
      "hello controls"
      "search search"
    ;
  }

  &--no-search {
    grid-template-rows: min-content;
    grid-template-areas:
      "btn hello controls controls"
    ;

    @media (max-width: @tablet-width) {
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "btn controls"
        "hello controls"
      ;
    }
  }

  &--no-welcome {
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr min-content min-content;
    grid-template-areas:
      "btn controls controls"
      "search search search"
    ;
    align-items: center;

    @media (max-width: @tablet-width) {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 1fr min-content;
      grid-template-areas:
        "btn controls"
        "search search"
      ;

      & .header__controls {
        flex-direction: row;
      }
    }
  }

  &--no-search-welcome {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr min-content;
    grid-template-areas:
    "btn controls"
    ;

    & .header__controls {
      flex-direction: row;
    }
  }
}

.header__menu-btn {
  z-index: var(--index-menu-btn);
  width: var(--header-menu-btn-size);
  height: var(--header-menu-btn-size);
  grid-area: btn;
  position: relative;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 297 297' style='enable-background:new 0 0 297 297' xml:space='preserve'%3E%3Cpath d='M280.214 39.211H16.786C7.531 39.211 0 46.742 0 55.997v24.335c0 9.256 7.531 16.787 16.786 16.787h263.428c9.255 0 16.786-7.531 16.786-16.787V55.997c0-9.255-7.531-16.786-16.786-16.786zM280.214 119.546H16.786C7.531 119.546 0 127.077 0 136.332v24.336c0 9.255 7.531 16.786 16.786 16.786h263.428c9.255 0 16.786-7.531 16.786-16.786v-24.336c0-9.255-7.531-16.786-16.786-16.786zM280.214 199.881H16.786C7.531 199.881 0 207.411 0 216.668v24.335c0 9.255 7.531 16.786 16.786 16.786h263.428c9.255 0 16.786-7.531 16.786-16.786v-24.335c0-9.257-7.531-16.787-16.786-16.787z' fill='%23f73859'/%3E%3C/svg%3E");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-color: var(--back-color);
  // animation run when the menu closes
  transition: opacity 1s ease-in-out;
  animation-duration: 1s;
  animation-name: hide-mobile-btn;
}

.header__welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  grid-area: hello;
}

.header__welcome-text {
  font-family: var(--basic-font);
  color: var(--standart-text-color);
  font-size: var(--header-subtext-size);
  font-weight: var(--header-subtext-weight);
  line-height: 90%;
}

.header__name-title {
  font-family: var(--basic-font);
  color: var(--standart-text-color);
  font-size: var(--header-text-size);
  font-weight: var(--headet-text-weight);
  line-height: 90%;
}

.header__search {
  position: relative;
  display: flex;
  justify-content: center;
  justify-self: center;
  grid-area: search;
  width: var(--header-search-width);

  @media (max-width: @mobile-width) {
    width: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: var(--header-serch-icon-size);
    height: 100%;

    border-radius: var(--header-search-border-radius) 0 0 var(--header-search-border-radius);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 487.95 487.95' style='enable-background:new 0 0 487.95 487.95' xml:space='preserve'%3E%3Cpath d='m481.8 453-140-140.1c27.6-33.1 44.2-75.4 44.2-121.6C386 85.9 299.5.2 193.1.2S0 86 0 191.4s86.5 191.1 192.9 191.1c45.2 0 86.8-15.5 119.8-41.4l140.5 140.5c8.2 8.2 20.4 8.2 28.6 0 8.2-8.2 8.2-20.4 0-28.6zM41 191.4c0-82.8 68.2-150.1 151.9-150.1s151.9 67.3 151.9 150.1-68.2 150.1-151.9 150.1S41 274.1 41 191.4z' fill='%23f73859'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60%;
    box-shadow: var(--inner-shadow);
    cursor: pointer;
  }
}

.header__search-input {
  width: 100%;
  padding: var(--header-search-input-padding);
  padding-left: calc(var(--header-serch-icon-size) + var(--header-search-input-padding));

  font-family: var(--basic-font);
  font-size: var(--header-text-size);
  font-weight: var(--headet-text-weight);
  color: var(--standart-text-color);

  border-radius: var(--header-search-border-radius);
  border: none;
  box-shadow: var(--inner-shadow);
  background: none;

  &:focus {
    outline: none;
    box-shadow: var(--shadow);
  }

  &::placeholder {
    color: var(--sub-text-color);
  }
}

.header__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: max-content;
  grid-area: controls;

  @media (max-width: @tablet-width) {
    justify-content: end;
    flex-direction: column-reverse;
  }
}

.header__exit-button {
  height: var(--exit-button-size);
  width: var(--exit-button-size);
  transition: .0s ease;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Cpath d='M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h14.55v3H9v30h14.55v3Zm24.3-9.25-2.15-2.15 5.1-5.1h-17.5v-3h17.4l-5.1-5.1 2.15-2.15 8.8 8.8Z' fill='%23888686'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 80%;

  &:hover {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Cpath d='M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h14.55v3H9v30h14.55v3Zm24.3-9.25-2.15-2.15 5.1-5.1h-17.5v-3h17.4l-5.1-5.1 2.15-2.15 8.8 8.8Z' fill='%23f73859'/%3E%3C/svg%3E");
  }
}
