:root {
  --back-color: #232931;
  --standart-text-color: #EFEFEF;
  --sub-text-color: #888;

  --shadow:   .2rem .2rem .15rem 		#787878,
  -.2rem -.2rem .8rem #000000;
  --inner-shadow:   inset .2rem .2rem .15rem 	#787878,
  inset -.2rem -.2rem .7rem	#000000;
}

/* Switcher */

.theme-switcher__radio {
  filter: invert(1);
}

.theme-switcher__radio:checked {
  filter: invert(0);
}

.theme-switcher__status {
  filter: invert(1);
}
