:root {
  --back-color: #e0e5ec;
  --standart-text-color: #1D2127;
  --sub-text-color: #465162;
  --hover-text-color: #000000;

  --shadow: .3rem .3rem .6rem 	#c8d0e7,
  -.2rem -.2rem .5rem #ffffff;
  --inner-shadow: inset .2rem .2rem .5rem #c8d0e7,
  inset -.2rem -.2rem .5rem #ffffff;
}

/* Switcher */

.theme-switcher__radio {
  filter: invert(0);
}

.theme-switcher__radio:checked {
  filter: invert(1);
}

.theme-switcher__status {
  filter: invert(0);
}
